<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="http://design-seeds.com/palettes/12/ColorEscape_6.png" alt="colour scheme">
    </a>
  </div>
  <div class="media-body">
    <h1 class="media-heading">About Us</h1>
     <h4 class="media-heading">If you are just a little curious...</h4>
    We're working on our Chicks Who Code pinteresting app. The colours you see on the left is the colour scheme that we're going to be working with to build this fun page. Do you like it so far? We're starting to get a little bit excited here, hope you are too!q:)
  

</div>
</div>